# Set the basic configuration of the task to be performed
env {
  parallelism = 1
  job.mode = "BATCH"
}

# Create a source to connect to Mongodb
source {
  MongoDB {
    uri = "mongodb://admin:passw0rd@10.136.218.207:8017"
    database = "manufacturing_db"
    collection = "unitsprocessed"
    result_table_name = "mdb"   # 改為 result_table_name
    schema = {
      fields {
        _id = string
        ProcessedTime = string
        // Meta = string  
        TransactionID = string
        MessageID = string
        Sender = string
        MessageVersion = string
        MessageType = string
        Transmission = string
        Data = string  
        MessageTime = string 
      }
    }
  }
}

transform {
  JsonPath {
    source_table_name  = "mdb"  # 從上游的 result_table_name 來讀
    result_table_name = "extracted_fields"  # 定義輸出表名
    row_error_handle_way = FAIL
    
    columns = [
     {
        "src_field" = "ProcessedTime"
        "path" = "$.$date"
        "dest_field" = "eap_process_time"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.Meta.DeviceID"
        "dest_field" = "device_id"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.Meta.LineID"
        "dest_field" = "line_id"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.Meta.MfgPlantCode"
        "dest_field" = "mfg_plant_code"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.Meta.Factory"
        "dest_field" = "factory"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.ProcessedTime"
        "dest_field" = "lm_process_time"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.RawData.MessageName"
        "dest_field" = "message_name"
        "dest_type" = "string"
     },
      {
        "src_field" = "Data"
        "path" = "$.RawData.Version"
        "dest_field" = "version"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.RawData.TimeStamp"
        "dest_field" = "time_stamp"
        "dest_type" = "string"
     },
      {
        "src_field" = "Data"
        "path" = "$.RawData.UniqueID"
        "dest_field" = "unique_id"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.RawData.Source"
        "dest_field" = "source"
        "dest_type" = "string"
     },
     
      {
        "src_field" = "Data"
        "path" = "$.RawData.Target"
        "dest_field" = "target"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.RawData.RequestID"
        "dest_field" = "request_id"
        "dest_type" = "string"
     },
          
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.TransactionId"
        "dest_field" = "transaction_idtransaction_id"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.OverallResult"
        "dest_field" = "overall_result"
        "dest_type" = "string"
     },
               
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.TransactionId"
        "dest_field" = "transaction_id"
        "dest_type" = "string"
     },
     {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.CommonProcessData.Parameters"
        "dest_field" = "common_parameters"
        "dest_type" = "string"
     },
     
     {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.CommonProcessData.ZoneData"
        "dest_field" = "common_zone_data"
        "dest_type" = "string"
     },
     
     {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.UnitProcessData"
        "dest_field" = "unit_process_data"
        "dest_type" = "string"
     },          
     {
        "src_field" = "Data"
        "path" = "$.Extension.Mo"
        "dest_field" = "mo"
        "dest_type" = "string"
     },
              
     {
        "src_field" = "Data"
        "path" = "$.Extension.Model"
        "dest_field" = "model"
        "dest_type" = "string"
     },
              
     {
        "src_field" = "Data"
        "path" = "$.Extension.Section"
        "dest_field" = "section"
        "dest_type" = "string"
     },
              
     {
        "src_field" = "Data"
        "path" = "$.Extension.Group"
        "dest_field" = "group"
        "dest_type" = "string"
     },
                  
     {
        "src_field" = "Data"
        "path" = "$.Extension.Station"
        "dest_field" = "station"
        "dest_type" = "string"
     }
    ]
  }

  Sql {
    source_table_name = "extracted_fields"
    result_table_name = "final"
    query = """
    SELECT
    CURRENT_TIMESTAMP AS load_time,
    REPLACE(SUBSTRING(eap_process_time, 1, 23), 'T', ' ') AS eap_process_time,
    MessageID as message_id,
    Sender as sender,
    MessageVersion  as message_version,
    MessageType    as message_type,
    Transmission as transmission,
    device_id, 
    line_id,
    mfg_plant_code,
    factory,
    REPLACE(SUBSTRING(lm_process_time, 1, 23), 'T', ' ') AS lm_process_time,
    message_name,
    version,
    REPLACE(SUBSTRING(time_stamp, 1, 23), 'T', ' ') AS time_stamp,
    SUBSTRING(CAST(time_stamp AS STRING), 1, 4) AS eventyear,
    SUBSTRING(CAST(time_stamp AS STRING), 6, 2) AS eventmonth,
    SUBSTRING(CAST(time_stamp AS STRING), 9, 2) AS eventday,
    unique_id,
    source,
    target,
    request_id,
    transaction_id,
    overall_result,
    common_parameters,
    common_zone_data,
    unit_process_data,
    mo,
    model,
    section,
    group,
    station,
    REPLACE(SUBSTRING(MessageTime, 1, 23), 'T', ' ') AS message_time
    FROM extracted_fields
    """
  }  
}





sink {
  S3File {
    source_table_name = "final"
    bucket="s3a://detraining"
    tmp_path = "/tmp/seatunnel"
    path = "/seatunnel/parquet"
    "fs.s3a.endpoint"="http://10.136.218.207:9001"
    "fs.s3a.aws.credentials.provider"="org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider"
    have_partition = true
    partition_by = ["factory","mfg_plant_code","eventyear","eventmonth","eventday", "line_id","device_id"]
    partition_dir_expression = "${v0}_${v1}_eap/cfx/UnitsProcessed/src/eventyear=${v2}/eventmonth=${v3}/eventday=${v4}/${k5}=${v5}/${k6}=${v6}/"
    is_partition_field_write_in_file = true
    "schema_save_mode"="CREATE_SCHEMA_WHEN_NOT_EXIST"
    "data_save_mode"="APPEND_DATA"
    "access_key"="Mivcp6lLE8G5R0bfFMZV"
    "secret_key"="Bhb2CGpDHuACuqBwKCC1FtA4yDeCdscwBxTQcdTn"
    file_format_type = "parquet"
    is_enable_transaction = false
    file_name_expression= "I_${now}" 
    filename_time_format = "yyyy.MM.dd.hh.mm.ss"  
    hadoop_s3_properties {
      "fs.s3a.buffer.dir" = "/data/st_test/s3a"
      "fs.s3a.fast.upload.buffer" = "disk"
    }


  }
}



